body{
	background: url('convocation1.jpg') no-repeat center;
	background-size: cover;
	height: 100vh;
	text-align: center;
	color: #DAA520;
}

h1{
	font-size: 40px;
	margin: 40px 0 0;
}
#timer-div > div{
	display: inline-block;
}
#timer-div{
	display: inline-block;
	font-size: 30px;
	margin-top: 30px;
}

.time-unit, .time-unit > span{
	/*Make our spans inline-blocks, though it's already inherited*/
	display: inline-block;
	padding: 10px;
	background-color: #D26910;
	border-radius: 5px;
	border: 1px solid white;
}
.canvas{
	display: block;
}